<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div>
        <div class="alert alert-primary">Check out the FAQ and Blog Post <a routerLink="faq">here</a></div>
        <p> 💎💎 Loot available:
          <span *ngFor="let x of chest | keyvalue">
            {{x.value | number : "1.0-2" }} {{addressToName(x.key)}}
          </span>
          💎💎</p>
      </div>
      <main class="text-center mt-5 mb-5">
        <p class="dm-icon">🧙🏼‍♂️</p>
        <h1 class="dm">Dungeon Master</h1>
        <h3 class="dm-sub">Only the bravest get the biggest rewards!</h3>
      </main>
      <div class="row align-self-center">
        <div class="col-lg-6 col-md-12">
          <table class="big-block table table-borderless">
            <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Pending</th>
              <th scope="col">In Inventory</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let token of pendingTokens">
              <td class="p-05">{{token.name}}</td>
              <td class="p-05">{{token.pendingAmount | number: "1.2-4"}}</td>
              <td class="p-05">{{token.balance | number: "1.2-4"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-6 col-md-12">
          <table class="big-block table table-borderless">
            <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Total Supply</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let token of totalSupplyMap| keyvalue">
              <td class="p-05">{{addressToName(token.key)}}</td>
              <td class="p-05">{{token.value | number :"1.2-4"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

